html,
body {
height: 100%;
margin: 0;
padding: 0;
}
html {
    display: block;
}

#map{
	bottom:0px;
	height: 100%;
	left: 0px;
	right: 0px;
    position: fixed;
}

#container{
	height: 100%;
	width: 300px;
    position: fixed;
    left: 0px;
    top: 0px;
    background-color:rgba(39, 55, 70,0.8)
}

#topBar{
	height: 70px;
	width: 100%;
	position: absolute;
	background-color:rgb(39, 55, 70)

}
#list{
	top: 54px;
	height: 88%;
	width: 260px;
	position: absolute;
	overflow: auto;
}
#input{
	position: absolute;
	height: 20px;
	width: 250px;
	left: 20px;
	top: 20px;
	border-radius: 5px
}

.list-title{
	color: #FFF;
	width: 200px;
	font-size: 18px;
    list-style: none;
    border: solid;
    padding: 3px;
    margin: 10px 0px 8px 0px;
    border-color:#00E5FF;
    border-style: none none double none;
    cursor: pointer;
}
#Information{
	overflow: auto;
	height: 200px;
	width: 225px;
}

#markertitle{
	width: 225px;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	color: #000066;
}

#pano，#wiki{
	width: 100%;
	text-align:center;
}

.open{
	position: absolute;
	height: 55px;
	width: 30px;
	top: 7px;
	left: 10px;
	text-align:center;
	line-height: 55px;
	border-radius: 5px;
	cursor: pointer;
	font-size: 24px;
	color: rgb(39, 55, 70);
	color: #FFF;
	background-color: rgb(39, 55, 70);
}

.close{
	position: absolute;
	height: 70px;
	width: 30px;
	top: 0px;
	left: 300px;
	line-height: 70px;
	border-radius: 0px 10px 10px 0px;
	text-align:center;
	cursor: pointer;
	font-size: 24px;
	color: rgb(39, 55, 70);
	color: #FFF;
	background-color: rgb(39, 55, 70);
}

::-webkit-scrollbar/*整体部分*/
{
width: 10px;
height:10px;
}

::-webkit-scrollbar-track/*滑动轨道*/
{
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
border-radius: 0px;
background: rgba(0,0,0,0.1);
}

::-webkit-scrollbar-thumb/*滑块*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,0.4);
}

::-webkit-scrollbar-thumb:hover/*滑块效果*/
{
border-radius: 5px;
-webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
background: rgba(0,0,0,7);
}